{% extends 'backoffice/default-layout.html.twig' %}

{% import "backoffice/reservation/macros.twig" as macro %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('reservation_confirmed_page') }}
    <!-- add popup sulla colonna busta, come in reservation_confirmed_page -->
{% endblock %}

{% block title %}
    Prenotazioni Scadute
    {{ parent() }}
{% endblock %}


{% block content_title %}
    Prenotazioni Scadute
{% endblock %}


{% block content_toolbar %}
{#    <a class="btn btn-info" href="{{ path('backoffice_reservation_new') }}"><i class="fa fa-plus"></i> Crea prenotazione</a>#}
{% endblock %}

{% block content_body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <!-- Search form -->
            <form name="backoffice_reservation_search">
                <div class="input-group mb-3">
                    <input type="text"
                           name="q"
                           class="form-control"
                           value="{{ app.request.query.get('q') }}"
                           placeholder="Cerca tra le prenotazioni scadute..."
                    >
                    <div class="input-group-append">
                        <button type="submit"
                                name="backoffice_reservation_search_submit"
                                class="btn btn-outline-secondary">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </form>

            <h4>Totale: {{ pagination.totalItemCount }}</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>

                        <th {% if pagination.isSorted('r.LastName') %} class="sorted"{% endif %} >
                            {{ knp_pagination_sortable(pagination, 'Nominativo', 'r.LastName') }}
                        </th>

                        <th {% if pagination.isSorted('s.ReservationPackageId') %} class="sorted"{% endif %} >
                            {{ knp_pagination_sortable(pagination, 'C. busta', 's.ReservationPackageId') }}
                        </th>

                        <th {% if pagination.isSorted('r.registrationDate') %} class="sorted"{% endif %} >
                            {{ knp_pagination_sortable(pagination, 'Data', 'r.registrationDate') }}
                        </th>

                        <th>Stato</th>

                        <th>Data conferma</th>

                        <th>Scaduto</th>

                        <th>Scade il</th>

                        <th>Extra time</th>

                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                {% for reservation in pagination %}
                    <tr >
                        <td>{{ reservation.id|u.truncate(5) }}</td>
                        <td>{{ reservation.lastName }} {{ reservation.firstName }}</td>

                        <!-- TD packageId -->
                        {% if reservation.saleDetail.reservationPackageId is empty or reservation.saleDetail.reservationPackageId is null %}
                            <td>Non assegnato</td>
                        {% else %}
                            <!-- add popover(notes) to packageId-->
                            {% if reservation.saleDetail.generalNotes is empty or reservation.saleDetail.generalNotes is null %}
                                <td>{{ reservation.saleDetail.reservationPackageId}}</td>
                            {% else %}
                                <td>
                                    <strong>
                                        <a tabindex="0" class="text-dark"
                                           role="button"
                                           data-toggle="popover"
                                           data-trigger="focus"
                                           title="Note prenotazione"
                                           data-content="{{ reservation.saleDetail.generalNotes }}">
                                            {{ reservation.saleDetail.reservationPackageId}}
                                        </a>
                                    </strong>
                                </td>
                            {% endif %}
                        {% endif %}

                        <td>{{ reservation.registrationDate|date("d/m/Y") }}</td>
                        <td class="{{ reservation.saleDetail.status }}">{{ macro.renderReservationStatus(reservation.saleDetail.status) }}</td>
                        <td>{{ reservation.saleDetail.confirmationStatus.confirmedAt|date("d/m/Y") }}</td>
                        <td>{{ reservation.saleDetail.confirmationStatus.isExpired ? '<p class="text-danger">Si</p>' : '<p class="text-success">No</p>' }}</td>
                        <td>{{ reservation.saleDetail.confirmationStatus.expireAt|date("d/m/Y") }}</td>

                        <!-- TD extra time -->
                        {% if reservation.saleDetail.confirmationStatus.extensionTime.value %}
                            <td>{{ reservation.saleDetail.confirmationStatus.extensionTime.value ? 'Si' : 'No' }} </td>
                        {% else %}
                            <td>{{ include('backoffice/reservation/form/_add_extension_time_form.html.twig') }}</td>
                        {% endif %}

                        <td>
                            <a class="btn btn-sm btn-outline-dark" href="{{ path('backoffice_reservation_show', {'id': reservation.id}) }}"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-sm btn-outline-dark" href="{{ path('backoffice_reservation_edit', {'id': reservation.id}) }}"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10" class="text-center">
                            Nessun risultato trovato, non ci sono prenotazioni confermate.
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {# display table navigation class="navigation" #}
    <div class="row justify-content-center">
        <div class="col-6">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
{% endblock %}
