{% extends "default-layout.html.twig" %}

{#{% block metadata %}#}
{#    <meta name="robots" content="noindex, nofollow">#}
{#{% endblock %}#}

{#{% block main %}#}
{#{% endblock %}#}

{% block content_body %}
 <section class="jumbotron text-center">
  <div class="container">
   <h1>Album example</h1>
   <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
   <p>
    <a href="{{ path('reservation_adozioni') }}" class="btn btn-primary my-2">Compila il modulo</a>
    <a href="{{ path('reservation') }}" class="btn btn-secondary my-2">Carica il file delle adozioni</a>
   </p>
  </div>
 </section>


 {# {{ page }}#}
{# <div class="container">#}
{#  <button class="btn-info">Vai al modulo prenotazioni</button>#}

{#  <button class="btn-info">Carica la mia lista</button>#}
{# </div>#}

{% endblock %}


{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#    <script type="text/javascript" src="{{ asset('build/js/recaptcha.js') }}"></script>#}
{#{% endblock %}#}
