{% extends 'backoffice/default-layout.html.twig' %}

{% block title %}
    Utenti
    {{ parent() }}
{% endblock %}


{% block content_title %}
    Gestione utenti
{% endblock %}


{% block content_toolbar %}
    <a class="btn btn-info" href="{{ path('backoffice_user_new') }}"><i class="fa fa-plus"></i> Crea utente</a>
{% endblock %}

{% block content_body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Ruoli</th>
                        <th>Attivo</th>
                        <th>Azioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for backoffice_user in backoffice_users %}
                        <tr>
                            <td>{{ backoffice_user.id }}</td>
                            <td>{{ backoffice_user.email }}</td>
                            <td>{{ backoffice_user.roles ? backoffice_user.roles|json_encode : '' }}</td>
                            <td>{{ backoffice_user.active ? 'Si' : 'No' }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="{{ path('backoffice_user_show', {'id': backoffice_user.id}) }}"><i class="fa fa-eye"></i></a>
                                <a class="btn btn-primary btn-sm" href="{{ path('backoffice_user_edit', {'id': backoffice_user.id}) }}"><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Nessun risultato trovato.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
