{% extends 'backoffice/default-layout.html.twig' %}

{% block title %}
    User index
    {{ parent() }}
{% endblock %}


{% block content_title %}
    User index
{% endblock %}


{% block content_toolbar %}
    <a class="btn btn-info" href="{{ path('backoffice_user_new') }}">Create new</a>
{% endblock %}

{% block content_body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for backoffice_user in backoffice_users %}
            <tr>
                <td>{{ backoffice_user.id }}</td>
                <td>{{ backoffice_user.email }}</td>
                <td>{{ backoffice_user.roles ? backoffice_user.roles|json_encode : '' }}</td>
                <td>{{ backoffice_user.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('backoffice_user_show', {'id': backoffice_user.id}) }}">show</a>
                    <a href="{{ path('backoffice_user_edit', {'id': backoffice_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Nessun risultato trovato.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
