{% extends 'base.html.twig' %}

{% block title %}BackofficeUser{% endblock %}

{% block body %}
    <h1>BackofficeUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ backoffice_user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ backoffice_user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ backoffice_user.roles ? backoffice_user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ backoffice_user.password }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ backoffice_user.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('backoffice_user_index') }}">back to list</a>

    <a href="{{ path('backoffice_user_edit', {'id': backoffice_user.id}) }}">edit</a>

    {{ include('backoffice_user/_delete_form.html.twig') }}
{% endblock %}
