{% extends "@booking/reservation-adozioni-layout.html.twig" %}

{% block content_body %}
     <div class="container">
         <div class="row align-items-center">
            <div class="col-sm">
                {{ form_start(form) }}

                {{ form_row(form.person) }}

                {{ form_row(form.notes) }}

                {{ form_row(form.adozioni) }}

                {{ form_row(form.privacyConfirmed) }}

                {{ form_row(form.submit) }}
            </div>
         </div>
     </div>
{% endblock %}


{% block javascripts_bottom %}
 {{ parent() }}

 <script type="text/javascript">

 </script>

{% endblock %}