{% extends '@booking/email/reservation-base-email.html.twig' %}

{% block email_content %}
    <!-- mail content body -->

    <row class="content">
        <columns>

            <spacer size="16"></spacer>

            <h4>I tuoi dati</h4>

            <p>Cognome: {{ lastName }}</p>

            <p>Nome: {{ firstName }}</p>

            <p>Email: {{ contact_email }}</p>

            <p>Telefono: {{ phone }}</p>

            <p>Classe: {{ classe }}</p>

            <p>Città: {{ city }}</p>

            <p>Codice sconto: {{ coupondCode }}</p>

            <spacer size="8"></spacer>

            <p class="block">
                <strong>Altre informazioni</strong>
            </p>

            <p>{{ otherInfo }}</p>


            <h4>Dettaglio File inviati</h4>

            {% for file in fileList %}
                <p class="block">{{ file }} </p>
            {% endfor %}

            <spacer size="16"></spacer>

            <p class="block">
                Ti ringraziamo per la fiducia accordataci, riceverai al più presto una nostra risposta alla tua richiesta.
            </p>
        </columns>
    </row>
{% endblock %}
