{#{% apply inky_to_html|inline_css(source('@mailer-style/foundation-emails.css'),source('@mailer-style/email.scss') ) %}#}
{#{% apply inky_to_html|inline_css(source('@mailer-style/email.scss') ) %}#}
{% apply inky_to_html|inline_css(encore_entry_css_source('email')) %}
{#{% apply inky_to_html|inline_css(encore_entry_css_files('email')) %}#}
    <div class="container">

        <!-- mail header -->

        <row class="header">
            <columns>
                <center>
{#                <a href="{{ url('home_oberdan') }}">#}
                    <img src="{{ email.image('@mailer-images/logo.png') }}" alt="Oberdan 8 logo">
{#                </a>#}
                </center>
            </columns>

        </row>

        <!-- mail title (sub header) -->

        <row class="subject-title">
            <columns>
                <h1 class="text-center">Riepilogo Prenotazione</h1>
            </columns>

        </row>

        <!-- mail content body -->

        <row class="content">
            <columns>

                <spacer size="16"></spacer>

                <h4>I tuoi dati</h4>

                <p>Cognome: {{ lastName }}</p>

                <p>Nome: {{ firstName }}</p>

                <p>Email: {{ contact_email }}</p>

                <p>Telefono: {{ phone }}</p>

                <p>Classe: {{ classe }}</p>

                <p>Città: {{ city }}</p>

                <spacer size="8"></spacer>

                <p class="block">
                    <strong>Altre informazioni</strong>
                </p>

                <p>{{ otherInfo }}</p>

                <h4>Dettaglio testi richiesti</h4>

                <table>
                    <tr>
                        <th>Titolo</th><th>Isbn</th><th>Autore</th><<th>Volume</th>
                    </tr>

                    {% for book in bookList %}
                        <tr>
                            <td>{{ book.title }}</td><td>{{ book.getIsbn }}</td><td>{{ book.author }}</td><td>{{ book.volume }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <spacer size="16"></spacer>

                <p class="block">
                    Ti ringraziamo per la fiducia accordataci, riceverai al più presto una nostra risposta alla tua richiesta.
                </p>
            </columns>
        </row>


        <!-- mail footer -->

        <row class="footer">
            <columns large="3">
                <img class="thumbnail logo-footer" src="{{ email.image('@mailer-images/logo.png') }}" alt="Oberdan 8 logo">
            </columns>
            <columns large="3">
                <p><strong> I nostri contatti </strong></p>
                <p>
                    Email: info@oberdan8.it <br>
                    Cell.:  349 35 50 279 (info - mercato lungotevere)<br/>
                    Cell: 324 62 99 631 (info - prenotazioni on-line)
                </p>
            </columns>
            <columns large="3">
                <p><strong> Seguici </strong></p>
                <p>
                    Website: <a href="https://www.oberdan8.it">www.oberdan8.it</a><br>
                    Facebook: <a href="https://www.facebook.com/oberdanbanco8">Oberdan banco 8</a><br/>
                </p>
            </columns>
        </row>
    </div>
{% endapply %}
