{#{% apply inky_to_html|inline_css(source('@mailer-style/foundation-emails.css'),source('@mailer-style/email.scss') ) %}#}
{#{% apply inky_to_html|inline_css(source('@mailer-style/email.scss') ) %}#}
{% apply inky_to_html|inline_css(encore_entry_css_source('email')) %}
{#{% apply inky_to_html|inline_css(encore_entry_css_files('email')) %}#}
    <div class="container">

        <!-- mail header -->

        <row class="header">
            <columns>
                <a href="{{ url('home_oberdan') }}">

                    {#                todo url in logo  image#}

                    <img src="{{ email.image('@mailer-images/logo.png') }}" alt="Oberdan 8 logo">
                </a>
            </columns>

        </row>


        <!-- mail content body -->

        <row class="content">
            <columns>
                <h1 class="text-center">Riepilogo Prenotazione</h1>
                <p class="block">
                    <strong>Dati Personali</strong>
                <p>
                    Cognome: {{ lastName }} <br>
                    Nome: {{ firstName }} <br>
                    Email: {{ contact_email }} <br>
                    Telefono: {{ phone }} <br>
                    Classe: {{ classe }} <br>
                    Città: {{ city }} <br>
                </p>
                <strong>Altre informazioni</strong>
                <p>
                    {{ otherInfo }} <br>
                </p>
                </p>
                {#            <p class="block text-center">#}
                {#                <a href="{{ url('home_oberdan') }}" class="btn">effettua una prenotazione</a>#}
                {#            </p>#}
                <p class="block">
                    <strong>Testi richiesti</strong>

                    {% for book in bookList %}
                <p class="block">{{ book.getIsbn }} | {{ book.title }} | {{ book.author }} | {{ book.volume }}</p>
                {% endfor %}

                </p>
                <p class="block text-center">
                    <a href="https://www.oberdan8.it" class="btn">visita il sito</a>
                </p>
                <p class="block">
                    We're so excited that you've decided to join us in our corner of the universe,
                    it's a friendly one with other creative and insightful writers just like you!
                    Need help from a friend? We're always just a message away.
                </p>
            </columns>
        </row>


        <!-- mail footer -->

        <row class="footer">
            <columns>
                <center>
                    <p class="block">
                        Cheers,<br><br>
                        Your friendly <em>Space Bar Team</em>
                    </p>
                    <p class="block bottom text-center">
                        Sent with ❤️ from ....
                    </p>
                </center>
            </columns>
        </row>
    </div>
{% endapply %}
