{% import _self as formMacros_book_row %}

{% macro printNewBookRow(form) %}
    <div class="col-xs-4 js-genus-scientist-item">
        <a href="#" class="js-remove-scientist pull-right">
            <span class="fa fa-close"></span>
        </a>
        {{ form_errors(form) }}
        {% if form.user is defined %}
            {{ form_row(form.user) }}
        {% else %}
            <strong>{{ form.vars.data.user.email }}</strong>
        {% endif %}
        {{ form_row(form.yearsStudied) }}
    </div>


{####### originale ########}

{#    <div class="col-xs-4 js-genus-scientist-item">#}
{#        <a href="#" class="js-remove-scientist pull-right">#}
{#            <span class="fa fa-close"></span>#}
{#        </a>#}
{#        {{ form_errors(form) }}#}
{#        {% if form.user is defined %}#}
{#            {{ form_row(form.user) }}#}
{#        {% else %}#}
{#            <strong>{{ form.vars.data.user.email }}</strong>#}
{#        {% endif %}#}
{#        {{ form_row(form.yearsStudied) }}#}
{#    </div>#}
{% endmacro %}






     {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-row">
            <div class="col-sm-12 col-md-6">
                {{ form_row(form.person.last_name) }}
            </div>
            <div class="col-sm-12 col-md-6">
                {{ form_row(form.person.first_name) }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-12 col-md-6">
                {{ form_row(form.person.email) }}
            </div>
            <div class="col-sm-12 col-md-6">
                {{ form_row(form.person.phone) }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-12 col-md-6">
                {{ form_row(form.person.city) }}
            </div>
            <div class="col-sm-12 col-md-6">
                {{ form_row(form.classe) }}
            </div>
        </div>

     <hr>

    <h5>Testi richiesti:</h5>




     <ul class="books" data-prototype="{{ form_widget(form.books.vars.prototype)|e('html_attr') }}">

      {% for book in form.books %}
       <li>
        <div class="row">
         <div class="col">
          <div class="form-group  {% if form_errors(book.isbn) %}error{% endif %}">
           {{ form_label(book.isbn) }}
           {{ form_widget(book.isbn, { 'attr': { 'class': 'form-control'}}) }}
          </div>
         </div>
         <div class="col">
          <div class="form-group  {% if form_errors(book.title) %}error{% endif %}">
           {{ form_label(book.title) }}
           {{ form_widget(book.title, { 'attr': { 'class': 'form-control'}}) }}
          </div>
         </div>
        </div>
        <div class="row">
         <div class="col">
          <div class="form-group  {% if form_errors(book.author) %}error{% endif %}">
           {{ form_label(book.author) }}
           {{ form_widget(book.author, { 'attr': { 'class': 'form-control'}}) }}
          </div>
         </div>
         <div class="col">
          <div class="form-group  {% if form_errors(book.volume) %}error{% endif %}">
           {{ form_label(book.volume) }}
           {{ form_widget(book.volume, { 'attr': { 'class': 'form-control'}}) }}
          </div>
         </div>
        </div>

{#        Book {{ book.vars.data['id'] }}#}
{#        <div class="form-group row align-items-center">#}

{#         {{ form_widget(book) }}#}
{#        </div>#}
       </li>
      {% endfor %}
     </ul>

     <button type="button" class="btn btn-sm btn-success add_item_link" data-collection-holder-class="books">Aggiungi libro</button>

     {{ form_row(form.notes) }}

     {{ form_rest(form) }}

     {{ form_end(form) }}








{# ###################### all form ###################### #}
{#     {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}#}
{#     {{ form_widget(form) }}#}
{#     {{ form_end(form) }}#}
