
{#    {{ include('backoffice_info_box/_form.html.twig', {'button_label': 'Update'}) }}#}


{{ form_start(form, {
    'action': path('backoffice_info_box_edit_embedded', { id: info_box.id}), 'method': 'POST',
    'attr': {'novalidate': 'novalidate'}
}) }}


    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}
