{% extends 'backoffice/default-layout.html.twig' %}

{% block title %}
    Account
    {{ parent() }}
{% endblock %}


{% block content_title %}
    Account
{% endblock %}


{% block content_toolbar %}
    <a class="btn btn-info" href="{{ path('backoffice_my_account') }}"><i class="fa fa-arrow-left"></i> Account</a>
{% endblock %}

{% block content_body %}
    <div class="container-fluid">
        <div class="row">
            <div class="card">
{#                <img src="..." class="card-img-top" alt="...">#}
                <div class="card-body">
                    <h5 class="card-title">Cambio password</h5>
                    {{ form_errors(form) }}

                    {{ form_start(form, {'action': path('backoffice_my_account_change_password'), 'method': 'POST'}) }}
{#                    {{ form_widget(form) }}#}
                    {{ form_row(form.plainPassword) }}
                    <button class="btn btn-primary">Salva</button>

                {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
