{% extends 'backoffice/default-layout.html.twig' %}

{% import "backoffice/reservation/macros.twig" as macro %}

{% block title %}
    Prenotazioni
    {{ parent() }}
{% endblock %}


{% block content_title %}
    Prenotazioni
{% endblock %}


{% block content_toolbar %}
    <a class="btn btn-info" href="{{ path('backoffice_reservation_new') }}"><i class="fa fa-plus"></i> Crea prenotazione</a>
{% endblock %}

{% block content_body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <!-- Search form -->
            <form>
                <div class="input-group mb-3">
                    <input type="text"
                           name="q"
                           class="form-control"
                           value="{{ app.request.query.get('q') }}"
                           placeholder="Cerca..."
                    >
                    <div class="input-group-append">
                        <button type="submit"
                                class="btn btn-outline-secondary">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </form>

            <h4>Totale: {{ pagination.totalItemCount }}</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>

                        <th {% if pagination.isSorted('r.LastName') %} class="sorted"{% endif %} >
                            {{ knp_pagination_sortable(pagination, 'Cognome', 'r.LastName') }}
                        </th>

                        <th {% if pagination.isSorted('r.firstName') %} class="sorted"{% endif %} >
                            {{ knp_pagination_sortable(pagination, 'Nome', 'r.firstName') }}
                        </th>

                        <th {% if pagination.isSorted('s.ReservationPackageId') %} class="sorted"{% endif %} >
                            {{ knp_pagination_sortable(pagination, 'C. busta', 's.ReservationPackageId') }}
                        </th>

                        <th {% if pagination.isSorted('r.registrationDate') %} class="sorted"{% endif %} >
                            {{ knp_pagination_sortable(pagination, 'Data', 'r.registrationDate') }}
                        </th>
                        <th>Stato</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                {% for reservation in pagination %}
                    <tr class="{{ reservation.saleDetail.status }}">
                        <td>{{ reservation.id|u.truncate(5) }}</td>
                        <td>{{ reservation.lastName }}</td>
                        <td>{{ reservation.firstName }}</td>

                        <!-- TD packageId -->
                        {% if reservation.saleDetail.reservationPackageId is empty or reservation.saleDetail.reservationPackageId is null %}
                            <td>Non assegnato</td>
                        {% else %}
                            <td>{{ reservation.saleDetail.reservationPackageId}}</td>
                        {% endif %}

                        <td>{{ reservation.registrationDate|date("d/m/Y") }}</td>
                        <td>{{ macro.renderReservationStatus(reservation.saleDetail.status) }}</td>
                        <td>
                            <a href="{{ path('backoffice_reservation_show', {'id': reservation.id}) }}"><i class="fa fa-eye"></i></a>
                            <a href="{{ path('backoffice_reservation_edit', {'id': reservation.id}) }}"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="text-center">
                            Nessun risultato trovato.
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {# display table navigation class="navigation" #}
    <div class="row justify-content-center">
        <div class="col-6">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
{% endblock %}
